<div class="section left-panel">
    <div class="left-panel-content top">
       <h1>Projects</h1>
       <div class="in-progress">
        <table>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><button>Open</button></td>
            <td><button>Delete</button></td>
          </tr>
          <% end %> 
        </table>
       </div>
    </div>
    <div class="left-panel-content center">
      <h2>Create New</h2>
      <div class="submission">
      <%= form_with url: '/home/create_item', method: :post, class: 'project-form', local: true do |form| %>
        <%= form.label :name, 'Name:' %><br>
        <%= form.text_field :name, placeholder: 'Enter name', required: true %><br>
    
        <%= form.label :type, 'Type:' %><br>
        <%= form.select :type, [['Tasks', 'tasks'], ['Projects', 'projects']], {}, class: 'dropdown' %><br>
    
        <%= form.submit 'Create New' %>
      <% end %>
    </div>
    </div>
</div>
<div class="section center-panel">
  <div class="center-panel-content top">
  <div class="time">
    <h1><%= Time.now.strftime("%-I:%M") %></h1>
  </div>
  </div>
  <div class="center-panel-content bottom">
   <table>
        <tr>
          <th>Task</th>
          <th>Start Time</th>
          <th>Status</th>
          <th>End Time</th>
        </tr>
        <tr>
          <td>Design Homepage</td>
          <td>Nov 10, 2024</td>
          <td>In Progress</td>
          <td><button>End</button></td>
        </tr>
        <tr>
          <td>Develop Login Feature</td>
          <td>Nov 15, 2024</td>
          <td>In Progress</td>
          <td><button>End</button></td>
        </tr>
        <tr>
          <td>Test Payment Gateway</td>
          <td>Nov 20, 2024</td>
          <td>Pending</td>
          <td><button>End</button></td>
        </tr>
      </table>
  </div> 
  </div>
</div>
<div class="section right-panel">
    <div class="cal">
    <%= month_calendar do |date| %>
    <%= date.day %>
    <% end %>
  </div>
</div>